@model IEnumerable<WebApplication1.Models.Actor>
@{
    Layout = "~/Views/Shared/Loggedin.cshtml";
}
@{
    ViewBag.Title = "Index";
}

@*<h2>Hello Index</h2>*@
<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Dashboard</h4>
<hr />
@*<div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a href="index.html" class="text-muted">Dashboard</a></li>
            </ol>
        </nav>

    </div>*@

<hr />
<div class="container-fluid">
    <div class="row">
        @*<div class="col-12 mt-4">
                <h4 class="mb-0">Card styles</h4>
                <p class="text-muted mt-0 font-12">
                    Cards include various options for customizing their
                    backgrounds, borders, and color.<code>.card-primary info, warning, danger</code>
                </p>
            </div>*@
        <div class="col-md-6">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 1</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow the user to enter or select an actor’s name (Lastname) and see the titles of all DVDs stocked by the shop (whether on loan or on the shelves) for which the Actor is a CastMember. </h3>

                    <a href="~/CastMembers/FilterByLastName" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 2</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow the user to enter or select an actor’s name (Lastname) and see the titles and the number of copies on the shelves of all DVDs for which the Actor is a CastMember and which have at least one copy on the shelves. </h3>
                    @*<p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional
                            content.
                        </p>*@
                    <a href="~/CastMembers/FilterFunction2" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 3</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow the user to enter or select a member and view a list of all the DVDs that they have been loaned in the last 31 days. </h3>

                    <a href="~/Loans/Loan31Days" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    <h4 class="mb-0 text-white">
                        Function 4
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">
                        List the producer, studio and cast lists of all DVDs in the shop.

                    </h3></br>

                    <a href="~/DVDProducerActors" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    <h4 class="mb-0 text-white">
                        Function 5
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow the user to enter or select a Copy by CopyNumber and find the details of the last loan for that copy. </h3>

                    <a href="~/Loans/FilterFunction5" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <h4 class="mb-0 text-white">
                        Function 6
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Add loan by checking the age resctrictions and the allowd loanable copies for the user.</h3>

                    <a href="~/Loans/Create" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-md-6">
            <div class="card text-white bg-success">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 7</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow a user to record the return of a DVD copy. (You have to edit and set todays date)</h3>

                    <a href="~/Loans/" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-warning">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 8</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Produce a list of all members with all their details and the total number of DVDs they currently have on loan and highlight any member who has more DVDs on loan than they are allowed. </h3>
                    <a href="~/Loans/FunctionNo8" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 9</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow the user to enter a new DVD Title into the system. </h3>
                    <a href="~/DVDDetails/Create" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 10</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Remove 365 days old DVDs from the database, and allow user to delete DVDs.</h3>

                    <a href="~/oldcopies" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 11</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Produce a list of all DVD copies currently on loan </h3>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-success">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 12</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow the user to produce a list of all Members who have not borrowed any DVD in the last 31 days </h3>

                    <a href="~/Loans/Function12" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="col-12 mt-4">
                <h4 class="mb-0">Card styles</h4>
                <p class="text-muted mt-0 font-12">
                    Cards include various options for customizing their
                    backgrounds, borders, and color.<code>.card-primary info, warning, danger</code>
                </p>
            </div>*@

        <div class="col-md-6">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 13</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Allow the user to display a list of all DVD titles in the shop where no copy of the title has been loaned in the last 31 days.</h3>
                    @*<p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional
                            content.
                        </p>*@
                    <a href="~/Loans/Function13" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-white bg-warning">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Function 14</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Change Password</h3>
                    @*<p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional
                            content.
                        </p>*@
                    <a href="~/Manage/ChangePassword" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="col-12 mt-4">
                <h4 class="mb-0">Card styles</h4>
                <p class="text-muted mt-0 font-12">
                    Cards include various options for customizing their
                    backgrounds, borders, and color.<code>.card-primary info, warning, danger</code>
                </p>
            </div>*@
        <div class="col-md-6">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Actors</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Actors Details</h3>
                    @*<p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional
                            content.
                        </p>*@
                    <a href="~/Actors" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Producers</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Producers Details</h3>
                    @*<p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional
                            content.
                        </p>*@
                    <a href="~/Producers" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <h4 class="mb-0 text-white">DVD </h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">DVD Details</h3>

                    <a href="~/DVDDetails" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    <h4 class="mb-0 text-white">DVD Cast Member</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">DVD Cast Members</h3>

                    <a href="~/CastMembers" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-white bg-warning">
                <div class="card-header">
                    <h4 class="mb-0 text-white">DVDProducers</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">DVD Producers Details</h3>
                    <a href="~/DVDProducers" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-success">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Members</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Members Details</h3>

                    <a href="~/Members" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="col-12 mt-4">
                <h4 class="mb-0">Card styles</h4>
                <p class="text-muted mt-0 font-12">
                    Cards include various options for customizing their
                    backgrounds, borders, and color.<code>.card-primary info, warning, danger</code>
                </p>
            </div>*@
        <div class="col-md-6">
            <div class="card text-white bg-dark">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Categories</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Categories Details</h3>

                    <a href="~/MemberCategories" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info">
                <div class="card-header">
                    <h4 class="mb-0 text-white">Loans</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-white">Loans Details</h3>
                    @*<p class="card-text">
                            With supporting text below as a natural lead-in to
                            additional
                            content.
                        </p>*@
                    <a href="~/Loans" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    
    </div>
</div>
